[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
psycopg2cffi = "*"
#psycopg2="*"
jsonify = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.15"
